<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product List</title>
</head>
<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(products)}">
        <h2>Product List</h2>
        <table class="table striped">
            <tr>
                <th>ID</th>
                <th>Description</th>
                <th>Price</th>
                <th>Image Url</th>
                <th>Action</th>
            </tr>
            <tr th:each="product : ${products}">
                <td th:text="${product.id}"></td>
                <td th:text="${product.description}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.imageUrl}"></td>
                <td><a th:href="${'/product/edit/'+product.id}">Edit</a> | <a th:href="${'/product/delete/'+product.id}">Delete</a> | <a th:href="${'/Products/'+product.id}">View</a></td>
            </tr>
        </table>
    <a href="/Products/new">Add Product</a> <a href="/Products">View  All Products</a>
    </div>
    <div>
        <h1>On Sale Product</h1>
        <h3 th:text="${onSaleProducts}"></h3>
    </div>
</div>

</body>
</html>